<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pizza Order</title>
</head>
<body>

<h2>Pizza Order Form</h2>

<form th:action="@{/order}" th:object="${pizzaOrder}" method="post">

    Name:
    <input placeholder="Enter your name" type="text" th:field="*{customerName}">
    <br><br>

    Size:
    <select th:field="*{size}">
        <option th:each="s : ${sizes}" th:value="${s}" th:text="${s}"></option>
    </select>
    <br><br>

    Crust:
    <select th:field="*{crust}">
        <option th:each="c : ${crusts}" th:value="${c}" th:text="${c}"></option>
    </select>
    <br><br>

    Toppings:
    <select th:field="*{toppings}">
        <option th:each="t: ${toppings}" th:value="${t}" th:text="${t}"></option>
    </select>
    <br><br>

    Quantity:
    <input type="number" min="1" max="10" th:field="*{quantity}">
    <br><br>

    Delivery:
    <br>
    <label>Do you want us to deliever?</label>
    <input type="checkbox" th:field="*{delivery}">
    <br><br>

    Address:
    <br>
    <input placeholder="address to deliver" type="text" th:field="*{deliveryAddress}">
    <br><br>

    <button type="submit">Submit</button>
</form>

</body>
</html>