<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Summary</title>
</head>
<body>

<h2>Order Summary</h2>

<p> Name: <span th:text="${order.customerName}"></span></p>
<p> Size: <span th:text="${order.size}"></span></p>
<p> Crust: <span th:text="${order.crust}"></span></p>
<p> Toppings: <span th:text="${order.toppings}"></span></p>
<p> Quantity: <span th:text="${order.quantity}"></span></p>
<p> Subtotal: $<span th:text="${order.subtotal}"></span></p>
<p> Discount: $<span th:text="${order.discountAmount}"></span></p>
<p> Tax: <span th:text="${order.tax}"></span></p>
<p> Delivery: <span th:text="${order.delivery}"></span></p>
<p> Address: <span th:text="${order.deliveryAddress}"></span></p>

<a href="/order">New Order</a>
<br>
<a href="/history">View Order History</a>
</body>
</html>